<h2>Neuer Blogeintrag</h2>

<%= form_for([@blog, @blogpost]) do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="indextable1">
      <div class="field">
        <%= f.label :content %><br />
          <div style="width: 400px">
          <%= f.text_area :content, :class => "tinymce", :rows => 3 %>
          </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Blogeintrag erstellen" %>
    </div>
<% end %>

<%= tinymce %>
