Themen

<div class="userview">
  <%= link_to "Früher ", themen_path(date: @date - 1.month) %>
  <%= "#{@date.strftime("%B")} #{@date.year}" %>
  <%= link_to " Später ", themen_path(date: @date + 1.month) %>
</div>

<table class='calendar'>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th><th>Wednesday</th>
    <th>Thursday</th><th>Friday</th>
    <th>Saturday</th><th>Sunday</th>
  </tr>
  <tr>
    <% @beginning_of_month = @date.beginning_of_month %>
    <% @end_of_month = @date.end_of_month %>

    <% (@beginning_of_month..@end_of_month).each do |d| %>
        <% if d == @beginning_of_month %>
            <% (d-1).wday.times do %>
                <td class='offset'></td>
            <% end %>
        <% end %>

        <% if (d-1).wday == 0 %>
            </tr><tr>
        <% end %>
        <td>
              <%= d.day %><br>
          <% @events.each do |event| %>
              <% if event.date == d %>
                  <br>
                  <%= link_to event.name, event_path(event) %>
              <% end %>
          <% end %></td>
    <% end %>

    </tr>
    </table>