<div style="align: center;"><h2>Blog von Philosophie.ch</h2> <br><br>

<%= @blog.name %> <br>
<%= @blog.description %><br><br>
Erstellt von <%= getname(@blog.user_id) %><br><br>

<% @blog.blogposts.each do |blog| %>
    <div class="mainbox">
      <div class="blogpostentrys">
        <b><%= blog.title %></b><br>
      </div>
      <div class="blogpostentrys">
        <%= simple_format(blog.content) %>
      </div></div><br><br>
<% end %>
<br><br>

  <% if (!current_user.nil?) && (currentuserallowed?(current_user)) %>
      <%= link_to "Neuer Blogeintrag", new_blog_blogpost_path(@blog.id) %>
  <% end %>

</div>