Suchergebnisse:
<br>

<table style="width:90%">
  <tr>
    <td>Events</td>
    <td>Informationen</td>
    <td>Blogs</td>
  </tr>
  <tr>
    <td>
      <% @events.each do |event| %>
          <%= link_to event_path(event), class: "columnheadermess"  do %>
              <div class="blogpostentrys">
                <h3><%= highlight(event.name, @word) %></h3>
                <%= highlight(event.content, @word) %>
                <br>
                <% if !(wordmissing?(event, @word).blank?) %>
                    <br>
                    Es fehlt:
                <% wordmissing?(event, @word).each do |word| %>
                    <%= word %>
                <% end %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </td>
    <td>
      <% @infos.each do |info| %>
          <div class="blogpostentrys">
            <%= link_to info.name, event_path(info) %><br>
            <%= simple_format highlight(info.content,@word)  %>
          </div>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>

<script src="assets/creative.js"></script>