<div class="userview">
  <h1><%= @user.username %></h1><br>

  <% if !@user.aboutme.nil? %>
      Über mich: <br>
    <%= @user.aboutme %>
  <% end %>
  <br>
  Meine gewünschten Neuigkeiten mit den Tags:
  <% @tags.each do |tag| %>
      <%= tag %>
  <% end %>
  <br><br>
  Meine Informationen: <br>
  <% @infosall.each do |info| %>
      <%= link_to info.name, info_path(info) %><br>
  <% end %><br><br>
  Meine Events: <br>
  <% @eventsall.each do |event| %>
      <%= link_to event.name, event_path(event) %><br>
  <% end %><br><br>
  <% if (!current_user.id.nil?) && (@user.id == current_user.id) %>
      <%= link_to 'Profil bearbeiten', edit_user_registration_path %>
  <% end %>
  <br>
</div>