<h2>Event bearbeiten</h2>

<%= form_for(@event) do |f| %>

    <% if allowed? %>
        <div class="field">
          <%= f.label :published %><br />
          <%= f.label :published, "Veröffentlicht", :value => true %>
          <%= f.radio_button :published, true %>
          <%= f.label :published, "Nicht veröffentlichtt", :value => true %>
          <%= f.radio_button :published, false, :checked => true %>
        </div>



     <% end %>


    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Änderungen speichern" %>
    </div>
<% end %>