<h2>Neuer Event</h2>

<%= simple_form_for(@event) do |f| %>
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :date%>
    <%= f.input :tag_list, as: :check_boxes, collection: ['Logik', 'Ethik', 'Metaphysik'] %><br>
    <%= f.button :submit %>
<% end %>
