<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= @event.name %><br>
<%= @event.content %><br>
<%= @event.date %><br>
<%= link_to "Event bearbeiten", edit_event_path(@event) %> | <%= link_to "Event löschen", event_path(@event), method: :delete, data: { confirm: "Sind sie sicher?" }%>