<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= @event.name %><br>
<%= simple_format(@event.content) %><br>
<% @event.date_events.each do|date| %>
    <%= date.date %><br>
<% end %>
<%= @event.date %><br>
Erstellt von <%= link_to @user.username, profile_path(@user.username) %><br>
<%= link_to "Event bearbeiten", edit_event_path(@event) %> | <%= link_to "Event löschen", event_path(@event), method: :delete, data: { confirm: "Sind sie sicher?" }%><br>
<%= link_to "Zurück", kalender_path(date: @event.date) %>