<h2>Neue Info</h2>

<%= simple_form_for(@info) do |f| %>
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :kind %>
    <%= f.input :tag_list, as: :check_boxes, collection: ['Logik', 'Ethik', 'Metaphysik'] %><br>
    <%= f.button :submit %>
<% end %>
